body{
    font-family: "Epilogue";
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to bottom, #FAF8F6 73%, #F3EDE7 73%);
    width:fit-content;
    align-content: center;
    margin: 0 auto 0 auto;
    
}

.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 96px;
    justify-content: space-between;
    width: 1109px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1109px;
    margin-top: 50px;
}

.request{
    width: fit-content;
    border: 1px solid #172339;
    border-radius: 6px;
    padding: 12px 23.5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;  
    letter-spacing: -0.16px;
    color: #172339;
    margin: 0;
}

.request:hover{
    background-color: #172339;
    color: white;
}

.suite1{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    color: #172339;
    margin: 0;
}

#symbol-1{
    width: 350px;
    height: 100px;
    border: solid 2px #172339;
    border-radius: 50%/100px 100px 0 0;
    border-color: #172339 transparent transparent transparent;
    position: relative;
    left: 240px;
    top: 142.68px;
    z-index: 2;
}

.top-left{
    grid-column: 1/3;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom{
    background-color: #172339;
    color: white;
    width: fit-content;
    letter-spacing: -0.18px;
    font-size: 18px;
}

.bottom:hover{
    background: linear-gradient(to bottom right,#A060FF,#CB30E3,#FFA84E);
}

h1{
    z-index: 3;
    width: 635px;
    grid-column: 1/3;
    font-weight: 400;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;
    margin-bottom: 0;
}

.hero{
    width: 350px;
    height: 600px;
    z-index: 1;
    grid-column: 2/3;
    grid-row-start: 1;
    margin-left: 155px;
}

.details{
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    grid-row-start: 1;
    justify-content: space-around;
    text-transform: uppercase;
    color: #49566d;
}

.info{
    padding-bottom: 146px;
    letter-spacing: -0.5px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px; 
    color: #172339;
}

.more{
    grid-column: 1/2;
    width: 350px;
    height: 96px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #49566D;
    margin: 0;
}

.base{
    display: flex;
    flex-direction: row;
    width: 1109px;
    height: 545px;
    color: white;
    background: #172339;
    border-radius: 15px;
    margin-top: 199px;
    justify-content: space-around;
}

#symbol-2{
    border: solid 2px #f3ede7;
    border-color:  transparent transparent transparent #f3ede7;
    width: 50px;
    height: 50px;
    border-bottom-left-radius: 100%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin: 161.15px 52.75px 0 36px;
}

#quote{
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: #F3EDE7;
    margin: 40px 0;
}

.jeremy-oval{
    margin-left: 121.49px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.jeremy{
    position: relative;
    width: 359.81px;
    height: 589.56px;
    top: -44.56px;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2;
}

.oval{
    grid-column-start: 1;
    grid-row-start: 1;
    width: 294px;
    height: 294px;
    margin-top: 210px;
    background: #DB65E2;
    mix-blend-mode: normal;
    opacity: 0.48;
    filter: blur(67.957px);
    z-index: 1;
}

.right-side{
    width: 350px;
    margin: 88px 125px 88px 0;
}

h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    margin: 0;
}

#username{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #F3EDE7;
}

footer{
    width: 1109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
    margin-bottom: 72px;
}

footer p{
    margin: 0;
}

section{
    width: 116px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suite2{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    color: #172339;
    margin: 0;
}

.sites:hover{
    opacity: 0.5;
    mix-blend-mode: normal;
}

strong{
    font-weight: 700;
    /* letter-spacing: -1px; */
}

/* 
TABLET VIEW CODE
 */

@media only screen and (min-width: 700px) and (max-width: 900px){

    header{
        width: 689px;
    }

    #symbol-1{
        left: 175px;
        top: 120px;
        width: 300px;
    }

    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 88px 0;
        width: 689px;
    }

    h1{
        z-index: 3;
        width: 500px;
        grid-column: 1/3;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.777778px;
    }

    .more{
        width: 350px;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.0888889px;
    }

    .hero{
        width: 281px;
        height: auto;
    }

    .details{
        grid-column: 1/3;
        grid-row-start: 2;
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .base{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 689px;
        height: 684px;
        margin-top: 273px;
        gap: 0;
    }

    .right-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 573px;
        height: 282px;
    }
    .jeremy-oval{
        margin: 0;
        position: absolute;
    }
    .jeremy{
        position: relative;
        top: -320px;
        left: 20px;
        width: 252px;
        height: auto;
    }

    .oval{
        width: 197px;
        height: 197px;
        position: relative;
        top: -350px;
        left: 20px;
    } 

    #symbol-2{
        margin: 40px 0 37px 0;
        position: relative;
        top: 140px;
    }

    #quote-head{
        margin: 0;
    }

    #quote{
        height: 96px;
        width: 573px;
        text-align: center;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.09px;
        margin: 40px 0;
    }
    
    footer{
        width: 689px;
        margin: 72px 0;
    }
}

/* 
MOBILE VIEW CODE
 */
 @media only screen and (min-width: 320px) and (max-width: 430px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header{
        width: 343px;
    }
    .request{
        width: 182px;
        padding: 12px 16px;
    }

    #symbol-1{
        left: 50px;
        top: 100px;
        width: 220px;
    }

    .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 343.75px;
        margin: 0 16px;
    }

    h1{
        z-index: 3;
        width: inherit;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: -0.527778px;
    }

    .more{
        width: auto;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.0888889px;
        margin: 32px 0;
    }

    .hero{
        content: url("assets/image-hero-landscape@2x.png");
        width: 343px;
        height: auto;
        margin: 56px 0;
    }

    .details{
        align-items: center;
        text-align: center;
    }

    .bottom{
        width: 256px;
        text-align: center;
    }

    .base{
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 748px;
        align-items: center;
        margin-top: 237px;
    }

    .jeremy-oval{
        margin: 0;
        position: absolute;
        /* bottom: -100px; */
    }

    .jeremy{
        position: relative;
        top: -300px;
        left: 29px;
        width: 252px;
        height: auto;
    }
    .oval{
        position: relative;
        top: -350px;
        left: 29px;
    }

    #symbol-2{
        position: relative;
        top: 70px;
    }

    .right-side{
        width: 343px;
        margin: 0;
        text-align: center;
    }

    #quote{
        width: 343px;
        height: 160px;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.09px;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 125px;
        height: 150px;
        margin: 56px 0 80px 0;
    }

    footer p{
        font-size: 15px;
        line-height: 32px;
    }
 }